/* inter font family */

/* theme colors */

:root {
  --theme-background: 0, 0, 0;
  --theme-background-a: 10, 10, 10, 0.5;
  --theme-background-overlay: 20, 20, 20, 0.9;
  --theme-text: 250, 250, 250;
  --theme-accent: 187, 178, 233;
  --theme-stream: 227, 218, 255;
  --theme-creator: 177, 168, 223;
  --theme-album: 177, 158, 243;
  --theme-datetime: 177, 168, 223;
}

/* general theme styling */

html {
  background: rgb(var(--theme-background));
  color: rgb(var(--theme-text));
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  max-width: 100vw;
  width: 100%;
}

#more, #showLess {
  display: none;
}

#nav {
  position: relative;
  margin: 15px;
  left: 0;
  width: fit-content;
  display: block;
  text-align: left;
  color: rgb(var(--theme-text));
  pointer-events: auto;
}

#results {
  padding-bottom: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "results";
  grid-area: results;
  text-align: center;
}

table {
  margin: 10px;
  padding-top: 45px;
  backdrop-filter: blur(5px) brightness(50%) saturate(150%);
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 20px;
  /* background-color: rgba(var(--theme-background-a)); */
  line-height: 1.5em;
  letter-spacing: 1.1px;
  table-layout: fixed;
}

th {
  text-align: center;
  height: 60px;
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 20px;
}

td {
  border-bottom: 0.1px dotted rgb(var(--theme-accent));
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 20px;
}

#controls {
  min-width: 84px;
  word-spacing: 10px;
}

#genre {
  color: rgb(var(--theme-accent));
}

#lyric {
  cursor: pointer;
  border: 0;
  border-style: none none none none;
  padding: 0px !important;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 1.1px;
  height: 200px;
  line-height: 1.2em;
  width: auto;
  backdrop-filter: blur(2px) brightness(75%) saturate(150%);
}
#lyricplayed {
  color: rgba(var(--theme-accent));
}
#lyricblank {
  cursor: pointer;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(0px) brightness(100%) saturate(100%);
}

#infobar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dotted rgb(var(--theme-text));
  border-bottom: 1px dashed rgb(var(--theme-text));
  /* background-color: rgba(var(--theme-background-overlay)); */
  backdrop-filter: blur(7px) brightness(50%) saturate(150%);
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 20px;
  width: 100vw;
  pointer-events: auto;
}

#infobar #hidden {
  display: none;
}

#audioInfo {
  color: rgb(var(--theme-accent));
}

#search {
  display: block;
  padding: 0px;
  border-top: 0.5px solid rgb(var(--theme-text));
  border-bottom: 0.5px solid rgb(var(--theme-text));
  /* background-color: rgba(var(--theme-background-overlay)); */
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(7px) brightness(50%) saturate(150%);
}

#search #hidden {
  display: none;
}

#searching {
  text-align: center;
  margin-top: 30px;
  /* background-color: rgba(var(--theme-background-overlay)); */
  backdrop-filter: blur(3px) brightness(75%);
  font-size: 3em;
}

#bottomView {
  position: fixed;
  bottom: 0;
  pointer-events: none;
}

#notification {
  position: relative;
  text-align: center;
  /* background-color: rgba(var(--theme-background-overlay)); */
  backdrop-filter: blur(5px) brightness(50%);
  border-collapse: separate;
  border-spacing: 5px;
  border-radius: 20px;
  font-size: 2em;
  width: 100%;
}

#stream a {
  color: rgb(var(--theme-stream));
}

#creator a {
  color: rgb(var(--theme-creator));
}

#album a {
  color: rgb(var(--theme-album));
}

#datetime {
  color: rgb(var(--theme-datetime));
}

#genre {
  text-align: right;
}

/* element styling */

h1 {
  font-weight: bold;
  backdrop-filter: blur(3px) brightness(75%) saturate(150%);
}

h2 {}

h3 {}

a {
  color: rgb(var(--theme-accent));
  text-decoration: none;
}

a:hover {
  border-bottom: 0.5px solid rgb(var(--theme-accent));
}

a:focus {
  outline: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;  
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 0.5px solid rgb(var(--theme-text));
  color: rgb(var(--theme-text));
  text-align: center;
  height: 70px;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 2px;
}

input[type="text"]:focus, input[type="text"]:hover {
  border-bottom: 0.5px solid rgb(var(--theme-accent));
}

input[type="text"]:focus {
  outline: none;
}

#downloadProgress {
  width: 100%;
}

#progressBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  display: none; 
}

button {
  margin: 15px;
  font-size: 2em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: crosshair;
  text-align: center;

  padding: 0;
  border: none;
  background: none;
  color: white;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:focus {
  outline: none;
}